<!DOCTYPE html>
<html>

   <head>
      <title>Text Input Control</title>
   </head>

   <body>
      <form method = "post" action = "/add">
         First name: <input type = "text" name = "first_name" />
         <br>
         <input type="submit"/>
      </form>
    <div>
      <a href = '/view'> link</a>
    </div>
   </body>

</html>
