<html>

   <head>
      <title>View</title>
   </head>

   <body>

    <div>
      <a href = '/view'> link</a>
      <!-- <ul>

        <% persons.forEach(function(person) { %>
       <li> <%= person.name %></li>
   <% });%>
      </ul> -->

    </div>
   </body>

</html>
